<h1> Create a New List! </h1>
  <form action="submit" class="form-control">
  <%= simple_form_for (@list) do |f| %>
  <%= f.input :name %>
  <%= f.submit "Add your List!",  class: "btn btn-outline-success"%>
  <% end %>
</form>

