// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.banner {
  height: 90vh;
  background-image: asset-url("empty-theatre");
  background-size: cover;
  h1 {
    color: white;
  }
}

.card {
  box-shadow: 0 .5rem 1rem rgba(black, .15);
  border-radius: 6px;
}

h2{
  color: white;
}

.rating {
  color: #191970;
  text-shadow: 1px 1px 1px #000,
               3px 3px 5px #191970;
}
